{% extends "base.html" %}

{% block title %}{{ username }}{% endblock %}
{% block content %}
<h2>{{ username }}'s Albums</h2>
<p>
Below is a list of albums that I think you own, whether on CD or some other
format.  If this is your first visit to Albumblr it might take me a little
while to figure this out so please be patient, refreshing just makes Google
angry!
</p>
<ul id='album-list'>
    {% for album in albums %}
    <li>{{ album }}</li>
    {% endfor %}
</ul>
{% endblock %}

{% block bodyscript %}
<script src="http://www.google.com/jsapi"></script>
<script>
google.load("jquery", "1.3.2");
function populateAlbumList(albums) {
    for (var i = 0; i < albums.length; i++) {
        $("#album-list").append("<li>" + albums[i] + "</li>");
    }
}
function getProcessed() {
    $.post("albums/processed", null, function (data) {
        if (data.albums) {
            populateAlbumList(data.albums);
        }
        if (data.remaining) {
            setTimeout('getProcessed()', 1000);
        }
    }, 'json');
}
google.setOnLoadCallback(function() {
    $.post("albums/start", null, getProcessed);
});
</script>
{% endblock %}
