<html>
    <head>
        <title>Albumblr - {{ username }}</title>
    </head>

    <body>
        <h1>Albumblr - {{ username }}</h1>
        <ul id='album-list'>
            {% for album in albums %}
            <li>{{ album }}</li>
            {% endfor %}
        </ul>
    </body>
    <script src="http://www.google.com/jsapi"></script>
    <script>
        google.load("jquery", "1.3.2");
        function populateAlbumList(albums) {
            for (var i = 0; i < albums.length; i++) {
                $("#album-list").append("<li>" + albums[i] + "</li>");
            }
        }
        function getProcessed() {
            $.post("albums/processed", null, function (data) {
                if (data.albums) {
                    populateAlbumList(data.albums);
                }
                if (data.remaining) {
                    setTimeout('getProcessed()', 1000);
                }
            }, 'json');
        }
        google.setOnLoadCallback(function() {
            $.post("albums/start", null, getProcessed);
        });
    </script>
</html>
