{% extends "base.html" %}

{% block title %}{{ username }}{% endblock %}

{% block headextra %}
<link type="text/css" href="http://jqueryui.com/latest/themes/base/ui.all.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="user-badge">
<div id="badge-avatar"><img src="{{ avatar_url }}" /></div>
<div id="badge-head"><h2>{{ username }}'s Albums</h2></div>
<div id="badge-info">
    {% if realname %}
    <strong class="fn">{{ realname }}</strong>,
    {% endif %}
    {{ user_details|join:", " }}
</div>
</div>

<div id="tabs" class="clearit ui-tabs">
<ul>
    <li><a href="#wanted-albums">Would Like</a></li>
    <li class="selected"><a href="#owned-albums">Owned</a></li>
    <!--<li><a href="#recommended-artist-albums">By Recommended Artists</a></li>-->
</ul>

<div id="wanted-albums" class="ui-tabs-hide">
<p>
Based on the albums {{ username }}'s got we think {{ gender|heshe }} would like
the following albums:
</p>
<ul id='wanted-album-list' class="album-list">
{% for album in albums.wanted %}
    <li>
    <img src="{{ album.cover_image_url }}" width="64" height="64" />
    <span class="album-item">
    <span class="album-artist">{{ album.artist }}</span>
    <span class="album-title">{{ album.title }}</span>
    <span class="play-count">
        Played {{ album.num_played_tracks|default_if_none:"unknown" }}
        of {{ album.track_count|default_if_none:"unknown" }} tracks.
    </span>
    </span>
    </li>
{% endfor %}
</ul>
</div>

<div id="owned-albums" class="ui-tabs-hide">
<p>
Below is a list of albums that I think {{ username }} owns, whether on CD or
some other format.
</p>
<ul id='owned-album-list' class="album-list">
{% for album in albums.owned %}
    <li>
    <img src="{{ album.cover_image_url }}" width="64" height="64" />
    <span class="album-item">
    <span class="album-artist">{{ album.artist }}</span>
    <span class="album-title">{{ album.title }}</span>
    <span class="play-count">
        Played {{ album.num_played_tracks|default_if_none:"unknown" }}
        of {{ album.track_count|default_if_none:"unknown" }} tracks.
    </span>
    </span>
    </li>
{% endfor %}
</ul>
</div>

<div id="recommended-artist-albums">
<p>
These are some artists recommended to {{ username }}, probably best taken with
a pinch of salt.
</p>
</div>
{% endblock %}

{% block bodyscript %}
<script src="http://www.google.com/jsapi"></script>
<script>
google.load("jquery", "1.3.2");
google.load("jqueryui", "1.7.2");
function default_if_null(value, default_value) {
    return (value === null) ? default_value : value;
}
function populateAlbumList(ul, albums) {
    ul.empty();
    for (var i = 0; i < albums.length; i++) {
        var album = albums[i];
        var img    = "<img src='" + album.cover_image_url + "' width='64' height='64' />\n";
        var artist = "<span class='album-artist'>" + album.artist + "</span>\n";
        var title  = "<span class='album-title'>" + album.title + "</span>\n";
        var play_count = "<span class='play-count'>\n"
            + "    Played " + default_if_null(album.num_played_tracks, "unknown") + "\n"
            + "    of " + default_if_null(album.track_count, "unknown") + "\n"
            + "tracks.\n</span>";
        var item = "<span class='album-item'>\n" + artist + title + play_count + "</span>\n";
        var html = "<li>\n" + img + item + "</li>\n";
        ul.append(html);
    }
}
function updateAlbums(url, containerId) {
    $.getJSON(url, function (data) {
        if (data) {
            if (data.length) {
                populateAlbumList($(containerId), data);
            }
            if (data === true || data.length < 10) {
                updateAlbums(url, containerId);
            }
        }
    });
}
var tab_info = [
    [ "albums/wanted", "#wanted-album-list" ],
    [ "albums/owned", "#owned-album-list" ],
    [ "albums/recommended", "#recommended-album-list" ],
];
function selectTab(event, ui) {
    var tab = tab_info[ui.index];
    var url = tab[0];
    var containerId = tab[1];
    if ($(containerId).children().length < 10) {
        updateAlbums(url, containerId);
    }
}
google.setOnLoadCallback(function() {
    var tabs = $("#tabs").tabs({ select: selectTab });
    //selectTab(null, { index: 0 });
    updateAlbums(tab_info[0][0], tab_info[0][1]);
});
</script>
<script type="text/javascript" src="http://jqueryui.com/latest/ui/ui.tabs.js"></script>
{% endblock %}
